In [2]:
import pandas as pd
import numpy as np

In [3]:
user=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data Challenge Pre/Funnel Analysis/user_table.csv')
home_page=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data Challenge Pre/Funnel Analysis/home_page_table.csv')
search_page=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data Challenge Pre/Funnel Analysis/search_page_table.csv')
payment_page=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data Challenge Pre/Funnel Analysis/payment_page_table.csv')
payment_confirmation_page=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data Challenge Pre/Funnel Analysis/payment_confirmation_table.csv')

In [4]:
user.head()

   user_id        date   device     sex
0   450007  2015-02-28  Desktop  Female
1   756838  2015-01-13  Desktop    Male
2   568983  2015-04-09  Desktop    Male
3   190794  2015-02-18  Desktop  Female
4   537909  2015-01-15  Desktop    Male

In [5]:
desktop_user = user.loc[user.device=='Desktop'].user_id
mobile_user = user.loc[user.device=='Mobile'].user_id

In [6]:
male = user.loc[user.device=='Male'].user_id
female = user.loc[user.device=='Female'].user_id

In [7]:
print("Conversion: Home page to search page") 
print("Overal: ", len(search_page.user_id)/len(home_page.user_id))
print("Desktop: ", sum(search_page.user_id.isin(desktop_user))/sum(home_page.user_id.isin(desktop_user)))
print("Mobile: ", sum(search_page.user_id.isin(mobile_user))/sum(home_page.user_id.isin(mobile_user)))

Conversion: Home page to search page
Overal:  0.5
Desktop:  0.5
Mobile:  0.5

In [8]:
print("Conversion: Search page to payment page") 
print("Overal: ", len(payment_page.user_id)/len(search_page.user_id))
print("Desktop: ", sum(payment_page.user_id.isin(desktop_user))/sum(search_page.user_id.isin(desktop_user)))
print("Mobile: ", sum(payment_page.user_id.isin(mobile_user))/sum(search_page.user_id.isin(mobile_user)))

Conversion: Search page to payment page
Overal:  0.1334070796460177
Desktop:  0.1
Mobile:  0.2

In [9]:
print("Conversion: Payment page to payment confirmation page") 
print("Overal: ", len(payment_confirmation_page.user_id)/len(payment_page.user_id))
print("Desktop: ", sum(payment_confirmation_page.user_id.isin(desktop_user))/sum(payment_page.user_id.isin(desktop_user)))
print("Mobile: ", sum(payment_confirmation_page.user_id.isin(mobile_user))/sum(payment_page.user_id.isin(mobile_user)))

Conversion: Payment page to payment confirmation page
Overal:  0.07495854063018242
Desktop:  0.04983388704318937
Mobile:  0.1

In [10]:
print("Conversion: Homep page to payment confirmation page") 
print("Overal: ", len(payment_confirmation_page.user_id)/len(home_page.user_id))
print("Desktop: ", sum(payment_confirmation_page.user_id.isin(desktop_user))/sum(home_page.user_id.isin(desktop_user)))
print("Mobile: ", sum(payment_confirmation_page.user_id.isin(mobile_user))/sum(home_page.user_id.isin(mobile_user)))

Conversion: Homep page to payment confirmation page
Overal:  0.005
Desktop:  0.0024916943521594683
Mobile:  0.01

         user_id      date    device       sex
sex
Female  0.498289  0.498289  0.498289  0.498289
Male    0.501711  0.501711  0.501711  0.501711

In [11]:
print("Users on Home page, Desktop: ", len(desktop_user))
print("Users on Home page, Mobile: ", len(mobile_user))
print('\n')
print("Users on Search page, Desktop: ", sum(search_page.user_id.isin(desktop_user)))
print("Users on Search page, Mobile: ", sum(search_page.user_id.isin(mobile_user)))
print('\n')
print("Users on Payment page, Desktop: ", sum(payment_page.user_id.isin(desktop_user)))
print("Users on Payment page, Mobile: ", sum(payment_page.user_id.isin(mobile_user)))
print('\n')
print("Users on Payment Confirmation page, Desktop: ", sum(payment_confirmation_page.user_id.isin(desktop_user)))
print("Users on Payment Confirmation page, Mobile: ", sum(payment_confirmation_page.user_id.isin(mobile_user)))

Users on Home page, Desktop:  60200
Users on Home page, Mobile:  30200


Users on Search page, Desktop:  30100
Users on Search page, Mobile:  15100


Users on Payment page, Desktop:  3010
Users on Payment page, Mobile:  3020


Users on Payment Confirmation page, Desktop:  150
Users on Payment Confirmation page, Mobile:  302

In [40]:
print("Home Page: Desktop")
print(user.loc[user.device=='Desktop'].groupby(user.sex).user_id.count()/len(desktop_user))
print("Home Page: Mobile")
print(user.loc[user.device=='Mobile'].groupby(user.sex).user_id.count()/len(mobile_user))

Home Page: Desktop
sex
Female    0.498289
Male      0.501711
Name: user_id, dtype: float64
Home Page: Mobile
sex
Female    0.499272
Male      0.500728
Name: user_id, dtype: float64

In [44]:
print("Search Page: Desktop")
print(user.loc[user.device=='Desktop'].loc[user.user_id.isin(search_page.user_id)].groupby(user.sex).user_id.count()/sum(search_page.user_id.isin(desktop_user)))
print("Search Page: Mobile")
print(user.loc[user.device=='Mobile'].loc[user.user_id.isin(search_page.user_id)].groupby(user.sex).user_id.count()/sum(search_page.user_id.isin(mobile_user)))

Search Page: Desktop
sex
Female    0.501362
Male      0.498638
Name: user_id, dtype: float64
Search Page: Mobile
sex
Female    0.502318
Male      0.497682
Name: user_id, dtype: float64

In [45]:
print("Payment Page: Desktop")
print(user.loc[user.device=='Desktop'].loc[user.user_id.isin(payment_page.user_id)].groupby(user.sex).user_id.count()/sum(payment_page.user_id.isin(desktop_user)))
print("Payment Page: Mobile")
print(user.loc[user.device=='Mobile'].loc[user.user_id.isin(payment_page.user_id)].groupby(user.sex).user_id.count()/sum(payment_page.user_id.isin(mobile_user)))

Payment Page: Desktop
sex
Female    0.508306
Male      0.491694
Name: user_id, dtype: float64
Payment Page: Mobile
sex
Female    0.519868
Male      0.480132
Name: user_id, dtype: float64

In [46]:
print("Payment Confirmation Page: Desktop")
print(user.loc[user.device=='Desktop'].loc[user.user_id.isin(payment_confirmation_page.user_id)].groupby(user.sex).user_id.count()/sum(payment_confirmation_page.user_id.isin(desktop_user)))
print("Payment Confirmation Page: Mobile")
print(user.loc[user.device=='Mobile'].loc[user.user_id.isin(payment_confirmation_page.user_id)].groupby(user.sex).user_id.count()/sum(payment_confirmation_page.user_id.isin(mobile_user)))

Payment Confirmation Page: Desktop
sex
Female    0.493333
Male      0.506667
Name: user_id, dtype: float64
Payment Confirmation Page: Mobile
sex
Female    0.55298
Male      0.44702
Name: user_id, dtype: float64